<h1>Blackjack!</h1>
<h3>Welcome to the table, <%= session[:player_name] %>.</h3>

Dealer's cards:
<ul>
	<% session[:dealer_cards].each do |card| %>
		<li><%= card.to_s %></li>
	<% end %>	

</ul>

<br/>

Player's cards:
<ul>
	<% session[:player_cards].each do |card| %>
		<li><%= card.to_s %></li>
	<% end %>

</ul>		